.btn{
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: goldenrod;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.delete{
    border-radius: 10px;
    border: 1px solid white;
    background-color: red;
    color: Black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#colorh1{
    color: whitesmoke;
    background-color:darkblue;
    margin-left: 500px;
    margin-right: 500px;
}
.back{
    border-radius: 15px;
    background-color: darkblue;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#border{
    color: whitesmoke;
    background-color: darkblue;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 10px;
}