<h1>{{ customer.CustomerFirstName }} {{ customer.CustomerLastName }}</h1>
<hr>

<hr>
<div *ngIf="customer">
  <div>
    <label for=" ">CustomerId: </label>
    <span>{{customer.CustomerId}}</span>
  </div>
  <div>
    <span>{{customer.CustomerPhone}}</span>
  </div>
  <address>
    <div>
      {{ customer.CustomerStreetAddress }}
    </div>
    <div>
      {{ customer.City }}, {{ customer.State }} {{ customer.Zip }}
    </div>
  </address>
</div>

<button mat-button class="edit" routerLink="/customer/edit/{{ customer.CustomerId }}">Edit</button>
<button mat-button class="btn" routerLink="/customer">Back to List</button>