.example-fill-remaining-space {
    flex: 1 1 auto;
}

mat-toolbar {
    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: navy;
    position: relative;
    
    
}
   

.nav-btn {
    margin-right: 0.5em;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}