.image{
  height:40em; background-size:cover;
  background-image:url('../../../assets/Motor.jpeg');
  background-size: cover;;
  background-repeat:no-repeat;
}

.background{
  background-color:rgb(0, 138, 148);
  opacity:3;
}

#text{
  margin-bottom: 10px;
  float:bottom;
  padding:0px;
}