                <div class="image">
                 
                </div>
                <div id="text">
                  <h1>Description</h1>
                  <h3>
                     To help find what products belong to what stores. This will be for you. This website was made in Asia in the middle of the Desert by people who dont speak english. They had no water, no food ,and nothing else until this page was done and they finished with their blood, sweat and tears.
                     </h3>
                </div>
                
                