<h1>Products</h1>
<a mat-raised-button class="btn" routerLink="/product/create">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="ProductId">
      <mat-header-cell *matHeaderCellDef> Product # </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ProductName">
      <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ProductUpc">
      <mat-header-cell *matHeaderCellDef> UPC </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductUpc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ProductPrice">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductPrice}} </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="ProductCost">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matCellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductProfit">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matCellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductOnSale">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matCellDef="let product"> {{product.ProductId}} </td>
  </ng-container> -->
    <ng-container matColumnDef="ProductCategory">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductCategory}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ProductDescription">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductDescription}} </mat-cell>
    </ng-container>
  </mat-table>
</div>