<h1>Index</h1>
<a mat-raised-button color="primary">Create New</a>
<hr>

<div>
  <table mat-table [dataSource]="dataSource">
  <tr mat-row *matRowDef="let row; columns: columnsNames;"></tr>

  <ng-container matColumnDef="ProductId">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductName">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductUpc">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductPrice">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <!-- <ng-container matColumnDef="ProductCost">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductProfit">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductOnSale">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container> -->
  <ng-container matColumnDef="ProductCategory">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="ProductDescription">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
  <ng-container matColumnDef="RetailerId">
    <th mat-header-cell *matHeaderCellDef> Product # </th>
    <td mat-cell *matcellDef="let product"> {{product.ProductId}} </td>
  </ng-container>
</table>
</div>
