<div class="image">
<div class="faq">
  <br>
  <p>Email: admin@admin.com</p>
  <p>Phone: 555-555-5555</p>
  <p>Street Address: 1234 Your Not looking in the Right Place PL</p>
  <p>City: Indianapolis</p>
  <p>State: IN</p>
  <P>Zip: 44444</P>
</div>
<div class="info">
  <p>Thanks for stopping by. We are a small corperation trinying to make it in this big world. Now I know what your thinking.
    No way a small time business will come and take over the internet market especially with companies like Amazon and Walmart.
    But hey its worth it to try right? Anyways add some products shop around send us an email and tell us what you think or dont. 
    Not going to tell you how to live your life. This web site was produced by #yolomerge #askdavid #team7.
  </p>
</div>
</div>
