<div class="image">
<div class="faq">
  <br>
  <h1>Contact</h1>
  <p>Email: admin@admin.com</p>
  <p>Phone: 1800-617-8903</p>
  <p>Street Address: 1234 Seaseme Street/p>
  <p>City: Indianapolis</p>
  <p>State: IN</p>
  <P>Zip: 48924</P>
</div>
<div class="info">
  <h1 style=" text-align:center">Information</h1>
  <p>
      Everything is happy if you choose to make it that way. Don't forget to tell these special people in your life just how special they are to you. So often we avoid running water, and running water is a lot of fun. We start with a vision in our heart, and we put it on canvas.
      This is your world, whatever makes you happy you can put in it. Go crazy. You're meant to have fun in life. We'll take a little bit of Van Dyke Brown. Use what you see, don't plan it.
 </p>
</div>
</div>

