mat-raised-button {
    border-radius: 10px;
    border: 1px solid white;
    background-color: goldenrod;
    color: darkviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}
.btn{
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: goldenrod;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}