<h1 id="colorh1">Create Customer</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="customerForm" id="border">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="CustomerFirstName" type="CustomerFirstName" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="CustomerLastName" type="CustomerLastName" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="CustomerEmail" type="CustomerEmail" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="CustomerPhone" type="CustomerPhone" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Street Address" formControlName="CustomerStreetAddress" type="CustomerStreetAddress" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="State" formControlName="State" type="State" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="City" type="City" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Zip" formControlName="Zip" type="Zip" required />
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="back" type="submit">Create Customer</button>
</form>

<a mat-button class="back" routerLink="/customer">Back to List</a>