.btn{
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: goldenrod;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#colorh1{
    border: 3px solid goldenrod;
    color: whitesmoke;
    background-color:darkblue;
    margin-left: 500px;
    margin-right: 500px;
}
.back{
    border-radius: 15px;
    border: 3px solid goldenrod;
    background-color: darkblue;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#border{
    border:3px solid goldenrod;
    background-color: whitesmoke;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 10px;
}
