<div class="image">
<br>
<h1 id="colorh1">Login</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="_loginForm" id ="border">
<div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password" required>
    </mat-form-field>
  </div>
</div>
</form>
<button mat-raised-button class="back" type="submit">Login</button>
</div>
