<h1>Retailer</h1>
<a mat-raised-button class="btn" routerLink="/retailer/create">Create New</a>
<hr>
<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="Details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"> Details </mat-header-cell>
      <mat-cell *matCellDef="let retailer" routerLink="/retailer/detail/{{retailer.RetailerId}}">
        <i class="material-icons">library_books</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RetailerId">
      <mat-header-cell *matHeaderCellDef> Retailer # </mat-header-cell>
      <mat-cell *matCellDef="let retailer"> {{ retailer.RetailerId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RetailerName">
      <mat-header-cell *matHeaderCellDef> Retailer Name </mat-header-cell>
      <mat-cell *matCellDef="let retailer"> {{ retailer.RetailerName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RetailerEin">
      <mat-header-cell *matHeaderCellDef> RetailerEin </mat-header-cell>
      <mat-cell *matCellDef="let retailer"> {{ retailer.RetailerEin }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RetailerPhone">
      <mat-header-cell *matHeaderCellDef> RetailerPhone </mat-header-cell>
      <mat-cell *matCellDef="let retailer"> {{ retailer.RetailerPhone }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RetailerAddress">
      <mat-header-cell *matHeaderCellDef> RetailerAddress </mat-header-cell>
      <mat-cell *matCellDef="let retailer"> {{ retailer.RetailerAddress }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RetailerEmail">
      <mat-header-cell *matHeaderCellDef> RetilerEmail </mat-header-cell>
      <mat-cell *matCellDef="let retailer"> {{ retailer.RetailerEmail }} </mat-cell>
    </ng-container>
  </mat-table>
</div>