.btn{
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: goldenrod;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#colorh1{
    border-radius: 20px;
    border: .5px solid black;
    color: whitesmoke;
    background-color:darkblue;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 0px;
    padding: 3px;
}
.back{
    border-radius: 15px;
    border: .5px solid black;
    background-color: darkblue;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#border{
    border-radius: 20px;
    border:1px solid #fafad2;
    background-color: whitesmoke;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 10px;
    opacity: .8;
}
.image{
    height:40em; background-size:cover;
    background-image:url('../../../assets/Note.jpeg');
  }