<h1>{{ product.ProductName }}</h1>
<hr>

<div *ngIf="product">
  <div>
    <label for=" ">ProductId </label>
    <span>{{ product.ProductId }}</span>
  </div>
  <div>
    <label for=" ">ProductName</label>
    <span>{{product.ProductName}}</span>
  </div>
  <div>
    <label for=" ">ProductPrice</label>
    <span>{{prduct.ProductPrice}}</span>
  </div>
  <div>
    <label for=" ">ProductCategory</label>
    <span>{{prduct.ProductCategory}}</span>
  </div>
  <div>
    <label for=" ">ProductDescription</label>
    <span>{{prduct.ProductDescription}}</span>
  </div>
  <div>
      <label for=" ">RetailerId</label>
      <span>{{prduct.RetailerId}}</span>
    </div>
</div>

<button mat-button color="accent" routerLink="/product/edit/{{ product.ProductId }}">Edit</button>
<button mat-button color="primary" routerLink="/product">Back to List</button>
