<h1>Delete</h1>
<h4>Are You Shure You Want To Delete</h4>
  
  <hr>
  <div *ngIf="retailer">
    <div>
    <label for=" ">RetailerId</label>
    <span>{{retailer.RetailerId}}</span>
  </div>
  <div>
    <label for=" ">RetailerName</label>
    <span>{{retailer.RetailerName}}</span>
  </div>
  <div>
    <label for=" ">RetailerEin</label>
    <span>{{retailer.RetailerEin}}</span>
  </div>
  <div>
    <label for=" ">RetailerEmail</label>
    <span>{{retailer.RetailerEmail}}</span>
  </div>
  <div>
    <label for=" ">RetailerPhone</label>
    <span>{{retailer.RetailerPhone}}</span>
  </div>
  <div>
    <label for=" ">RetailerAddress</label>
    <span>{{retailer.RetailerAddress}}</span>
  </div>
</div>
  <button mat-button color="warn" (click)="onDelete()">Delete</button>
  <button mat-button color="primary" routerLink="/retailer">Back to List</button>