<h1 id="colorh1">Delete</h1>
  <div *ngIf="retailer" id="border">
    <div>
      <br>
    <label for=" ">RetailerId</label>
    <span>{{retailer.RetailerId}}</span>
  </div>
  <div>
    <label for=" ">RetailerName</label>
    <span>{{retailer.RetailerName}}</span>
  </div>
  <div>
    <label for=" ">RetailerEin</label>
    <span>{{retailer.RetailerEin}}</span>
  </div>
  <div>
    <label for=" ">RetailerEmail</label>
    <span>{{retailer.RetailerEmail}}</span>
  </div>
  <div>
    <label for=" ">RetailerPhone</label>
    <span>{{retailer.RetailerPhone}}</span>
  </div>
  <div>
    <label for=" ">RetailerAddress</label>
    <span>{{retailer.RetailerAddress}}</span>
  </div>
  <br>
  <button mat-button class = "delete" (click)="onDelete()">Delete</button>
</div>
<button mat-button class="back"routerLink="/retailer">Back to List</button>
  