/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: goldenrod;
}
.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
}


